<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>每日一点 - MRYD.com</title>
	<meta name="viewport" content="width=100%; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<script type="text/javascript" src="/themes/js/jquery.min.js"></script>
	<script type="text/javascript" src="/themes/js/swiper-3.4.0.jquery.min.js"></script>
	<link href="/favicon.ico" type="image/x-icon" rel="icon">
	<link rel="stylesheet" href="/themes/css/swiper-3.2.7.min.css"/>
	<link rel="stylesheet" href="/themes/css/home.css"/>
	<link rel="stylesheet" href="/themes/css/aui.css"/>

	<style>
		body{
			margin:0;
			padding:0;
		}
		.container {
			width: 100%;
		}

		.swiper1 {
			width: 100%;
			background: #efefef;
		}

		.swiper1 .selected {
			color: #ec5566;
		}

		.swiper1 .swiper-slide {
			text-align: center;
			font-size: 14px;
			height: 40px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			cursor: pointer;
		}

		.swiper2 {
			width: 100%;
		}

		.swiper2 .swiper-slide {
			height: calc(100vh - 50px);
			color: #fff;
			text-align: center;
			box-sizing: border-box !important;
			overflow-x: hidden !important;
		}
	</style>
</head>
<body>

	<div class="container">

		<!-- 头部信息 begin -->
			<div class="aui-header">
				<div class="aui-header-box clearfix">
					<div class="aui-header-logo">
						<a href="index.html">
							<img src="/themes/img/logo/logo-news.png" alt="">
						</a>
					</div>
					<div class="aui-header-sou">
						<!--<a href="search.html">-->
							<!--<span><i class="aui-iconfont aui-icon-search"></i></span>-->
						<!--</a>-->
					</div>
				</div>
			</div>
		<!-- 头部信息 end -->

		<!-- 内容信息 begin -->
		<div style="padding-top:45px; padding-bottom:49px;">
			<div class="aui-card-list">
				<div class="aui-card-list-header aui-card-list-user">
					<div class="aui-card-list-user-avatar">
						<img src="/themes/img/ad/f-n0.jpg" class="aui-img-round">
					</div>
					<div class="aui-card-list-user-name">
						<div class="aui-text-info">胖子</div>
						<div class="aui-font-size-12 text-light">新闻圈</div>
					</div>
					<div class="aui-card-list-user-info text-light">31分钟前</div>
				</div>
				<div class="aui-card-list-content-padded aui-padded-t-5 aui-padded-b-5">
					近日，俄军最高统帅部组织了第五届全军炮兵旅预备队实地演练，出动了大批重型火炮，其中就包括当今口径最大的自行迫击炮——2S4“郁金香”240毫米自行迫击炮。本图集就此解读。
				</div>
				<div class="aui-card-list-content" style="padding:0 10px;">
					<div class="aui-row aui-row-padded">
						<div class="aui-col-xs-12">
							<img src="/themes/img/ad/f-n0.jpg">
						</div>
					</div>
				</div>
				<div class="aui-card-list-footer text-light size-color">
					<div>
						<i class="aui-iconfont aui-icon-display"></i> 888
					</div>
					<div>
						<i class="aui-iconfont aui-icon-comment"></i> 666
					</div>
					<div>
						<i class="aui-iconfont aui-icon-laud"></i> 888
					</div>
				</div>
			</div>
			<section class="aui-middle-dome">
				<a href="news-page.html" data-action-label="click-a" data-tag="news" class="aui-middle-dome-a">
					<div class="aui-middle-dome-title">
						<h3>三星李在镕行贿二次开审 或被减刑或被提前出狱</h3>
						<div class="aui-middle-dome-text">
							<div class="clearfix">
								<span class="aui-top box-line">热门</span>
								<span class="aui-title">央视网新闻</span>
								<span class="aui-comment">评论 678990</span>
							</div>
						</div>
					</div>
					<div class="aui-middle-dome-img">
						<img src="/themes/img/ad/f-n1.jpg" alt="">
					</div>
				</a>
			</section>
			<section class="aui-middle-dome">
				<a href="news-page.html" data-action-label="click-a" data-tag="news" class="aui-middle-dome-a">
					<div class="aui-middle-dome-title">
						<h3>英国“人权活动家”入境香港被拒 外交部回应</h3>
						<div class="aui-middle-dome-text">
							<div class="clearfix">
								<span class="aui-top box-line">热门</span>
								<span class="aui-title">央视网新闻</span>
								<span class="aui-comment">评论 678990</span>
							</div>
						</div>
					</div>
					<div class="aui-middle-dome-img">
						<img src="/themes/img/ad/f-n2.jpg" alt="">
					</div>
				</a>
			</section>
			<section class="aui-middle-dome">
				<a href="news-page.html" data-action-label="click-a" data-tag="news" class="aui-middle-dome-a">
					<div class="aui-middle-dome-title">
						<h3>2017天津户口落户政策全解读,其实落户很简单~</h3>
						<div class="aui-middle-dome-text">
							<div class="clearfix">
								<span class="aui-top box-line">置顶</span>
								<span class="aui-title">央视网新闻</span>
								<span class="aui-comment">评论 678990</span>
							</div>
						</div>
					</div>
					<div class="aui-middle-dome-img">
						<img src="/themes/img/ad/f-n3.jpg" alt="">
					</div>
				</a>
			</section>
			<section class="aui-middle-dome">
				<a href="news-page.html" data-action-label="click-a" data-tag="news" class="aui-middle-dome-a">
					<div class="aui-middle-dome-title">
						<h3>外媒称人民币定价石油时刻将到来：中俄已创造无美元环境</h3>
						<div class="aui-middle-dome-text">
							<div class="clearfix">
								<span class="aui-top box-line">广告</span>
								<span class="aui-title">暗恋网</span>
								<span class="aui-comment">评论 438990</span>
							</div>
						</div>
					</div>
					<div class="aui-middle-dome-img">
						<img src="/themes/img/ad/f-n4.jpg" alt="">
					</div>
				</a>
			</section>
			<section class="aui-middle-dome">
				<a href="news-page.html" data-action-label="click-a" data-tag="news" class="aui-middle-dome-a">
					<div class="aui-middle-dome-list-box">
						<h3>山东省破获特大跨境电信网络诈骗案 74名犯罪嫌疑人今日从柬埔寨押解回国</h3>
						<div class="aui-middle-dome-list">
							<ul class="clearfix">
								<li>
									<img src="themes/img/ad/f-n5.jpg" alt="">
								</li>
								<li>
									<img src="themes/img/ad/f-n6.jpg" alt="">
								</li>
								<li>
									<img src="themes/img/ad/f-n7.jpg" alt="">
								</li>
							</ul>
						</div>
						<div class="aui-middle-dome-text">
							<div class="clearfix">
								<span class="aui-title">星见娱乐</span>
								<span class="aui-title">评论 67834</span>
							</div>
						</div>
					</div>
				</a>
			</section>
			<section class="aui-middle-dome">
				<a href="news-page.html" data-action-label="click-a" data-tag="news" class="aui-middle-dome-a">
					<div class="aui-middle-dome-title">
						<h3>中学办“手机销毁大会”　教育部门：尽快整改</h3>
						<div class="aui-middle-dome-text">
							<div class="clearfix">
								<span class="aui-top box-line">热门</span>
								<span class="aui-title">暗恋网</span>
								<span class="aui-comment">评论 438990</span>
							</div>
						</div>
					</div>
					<div class="aui-middle-dome-img">
						<img src="themes/img/ad/f-n8.jpg" alt="">
					</div>
				</a>
			</section>
		</div>

		<!-- 内容信息 end -->
	</div>


	<footer class="aui-bar aui-bar-tab" id="footer" style="border-top:1px solid #ddd; background:#efefef">
		<div class="aui-bar-tab-item " tapmode>
			<a href="index.html">
				<i class="aui-iconfont aui-icon-home"></i>
				<div class="aui-bar-tab-label">首页</div>
			</a>
		</div>
		<div class="aui-bar-tab-item aui-active" tapmode>
			<a href="focus.html">
				<i class="aui-iconfont aui-icon-like"></i>
				<div class="aui-bar-tab-label">要闻</div>
			</a>
		</div>
		<div class="aui-bar-tab-item" tapmode>
			<a href="video.html">
				<i class="aui-iconfont aui-icon-video"></i>
				<div class="aui-bar-tab-label">视频</div>
			</a>
		</div>
		<div class="aui-bar-tab-item" tapmode>
			<a href="my.html">
				<i class="aui-iconfont aui-icon-my"></i>
				<div class="aui-bar-tab-label">我的</div>
			</a>
		</div>
	</footer>


	<script type="text/javascript">
	    $(function() {
	        function setCurrentSlide(ele, index) {
	            $(".swiper1 .swiper-slide").removeClass("selected");
	            ele.addClass("selected");
	        }

	        var swiper1 = new Swiper('.swiper1',{

	            slidesPerView: 5.5,
	            paginationClickable: true,
	            spaceBetween: 1,
	            freeMode: true,
	            loop: false,
	            onTab: function(swiper) {
	                var n = swiper1.clickedIndex;
	            }
	        });
	        swiper1.slides.each(function(index, val) {
	            var ele = $(this);
	            ele.on("click", function() {
	                setCurrentSlide(ele, index);
	                swiper2.slideTo(index, 500, false);
	            });
	        });

	        var swiper2 = new Swiper('.swiper2',{
	            direction: 'horizontal',
	            loop: false,
	            //					effect : 'fade',//淡入
	            //effect : 'cube',//方块
	            //effect : 'coverflow',//3D流
	            //					effect : 'flip',//3D翻转
	            autoHeight: true,
	            onSlideChangeEnd: function(swiper) {
	                //回调函数，swiper从一个slide过渡到另一个slide结束时执行。
	                var n = swiper.activeIndex;
	                setCurrentSlide($(".swiper1 .swiper-slide").eq(n), n);
	                swiper1.slideTo(n, 500, false);
	            }
	        });
	    });
	</script>
</body>
</html>
