<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>每日一点 - MRYD.com</title>
	<meta name="viewport" content="width=100%; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<script type="text/javascript" src="/themes/js/jquery.min.js"></script>
	<script type="text/javascript" src="/themes/js/swiper-3.4.0.jquery.min.js"></script>
	<link href="/favicon.ico" type="image/x-icon" rel="icon">
	<link rel="stylesheet" href="/themes/css/aui.css"/>
	<script type="text/javascript">
      $(function(){
            $('.tabPanel ul li').click(function(){
                $(this).addClass('hit').siblings().removeClass('hit');
                $('.panes>div:eq('+$(this).index()+')').show().siblings().hide();
            })
        }) 
	</script>
	<style type="text/css">
		.swiper2 {
			width: 100%;
		}

		.swiper2 .swiper-slide {
			height: calc(100vh - 50px);
			color: #fff;
			text-align: center;
			box-sizing: border-box !important;
			overflow-x: hidden !important;
		}</style>
</head>
<body>
	<header class="aui-bar aui-bar-nav aui-bar-light">
		<a href="javascript:" onclick="history.back(); " class="aui-pull-left aui-btn" >
			<span class="aui-iconfont aui-icon-left"></span>
		</a>
		<div class="aui-title aui-font-size-14" style="color:#fff">我的收藏</div>
	</header>
	<div style="padding-top:55px;">
		<div class="tabPanel">
			<ul>
				<li class="hit">新闻</li>
				<li>视频</li>
				<li></li>
			</ul>
			<div class="panes">
				<div class="pane" style="display:block;">
					<ol id="Newscollect">
						
					
					</ol>
				</div>
				<div class="pane">
					<ol>
						<li class=""><a href="#">中国9月出口同比增长9% 进出口回稳向好势头巩固</a></li>
						<li><a href="#">中央军委给航天员大队记一等功 向大队颁发奖状:为中国钢结构领域开拓</a></li>
					</ol>
				</div>
				<div class="pane">
					<ol>
						<li class=""><a href="#">国土资源部：住宅用地不能拿来炒作囤积</a></li>
						<li><a href="#">82岁工程院士沈祖炎去世:为中国钢结构领域开拓</a></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<footer class="aui-bar aui-bar-tab" id="footer" style="border-top:1px solid #ddd; background:#efefef">
		<div class="aui-bar-tab-item " tapmode>
			<a href="index.html">
				<i class="aui-iconfont aui-icon-home"></i>
				<div style="color: #666;" class="aui-bar-tab-label">首页</div>
			</a>
		</div>
		<div class="aui-bar-tab-item" tapmode>
			<a href="focus.html">
				<i class="aui-iconfont aui-icon-like"></i>
				<div class="aui-bar-tab-label">要闻</div>
			</a>
		</div>
		<div class="aui-bar-tab-item" tapmode>
			<a href="video.html">
				<i class="aui-iconfont aui-icon-video"></i>
				<div class="aui-bar-tab-label">视频</div>
			</a>
		</div>
		<div class="aui-bar-tab-item aui-active" tapmode>
			<a href="my.html">
				<i class="aui-iconfont aui-icon-my"></i>
				<div class="aui-bar-tab-label">我的</div>
			</a>
		</div>
	</footer>
</body>
<script type="text/javascript">

$.post("/my/getcollect",function(rs){

	$.each(rs,function(i,val){
		var title =val.news.title;
		var nid =val.nid;
		$("#Newscollect").append('	<li style="cursor:pointer"><a href="/views/new/news-page.html?nid='+nid+'">'+title+'</a></li>')
	
	});
	
});

var swiper2 = new Swiper('.swiper2',{
    direction: 'horizontal',
    loop: false,
    //					effect : 'fade',//淡入
    //effect : 'cube',//方块
    //effect : 'coverflow',//3D流
    //					effect : 'flip',//3D翻转
    autoHeight: true,
    onSlideChangeEnd: function(swiper) {
        //回调函数，swiper从一个slide过渡到另一个slide结束时执行。
        var n = swiper.activeIndex;
        setCurrentSlide($(".swiper1 .swiper-slide").eq(n), n);
        swiper1.slideTo(n, 500, false);
    }
});
</script>
</html>
