<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="/js/jquery.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/getUrlParam.js"></script> 

<!--背景图片自动更换-->
<!-- <script src="/js/supersized.3.2.7.min.js"></script>
<script src="/js/supersized-init.js"></script> -->
<!--表单验证-->
<script src="/js/jquery.validate.min.js?var1.14.0"></script>
<title>登录</title>

<link rel="stylesheet" href="/css/style.css" />

<body>

<div class="login-container">
	<h1>登录</h1>
	
	<div class="connect">
		<p></p>
	</div>
	
	<form id="loginForm"  >
		<div>
			<input type="text" name="account" value="user"  class="username" placeholder="用户名" autocomplete="off"/>
		</div>
		<div>
			<input type="password" name="password" value="user" class="password" placeholder="密码" oncontextmenu="return false" onpaste="return false" />
		</div>
		<div  id="button" style="line-height:42px;" onclick="show()">登录</div>
		<div  id="button" style="line-height:42px;" onclick="javascript:location.href='register.html'">注册</div>
	</form>
	
	</div>
<script>
var state=UrlParm.parm("state");
document.onkeydown = function(e){
	var ev = document.all ? window.event : e;
    if(ev.keyCode==13) {
    	check();
    }

}
function show() {
	check();
	
		
	
}
function check() {
	var date=$("#loginForm").serialize();	
	console.log(date);
	$.post("/sys/findManageByid",date,function(rs){

		if(rs.status=="success"&&rs.msg=="登录成功"){
			if(state==1){
				history.go(-1);
			}else{
				location.href = "/views/new/index.html";
			}
		
		
		}else if(rs.status=="success"&&rs.msg=="管理员你好"){
			location.href = "/views/manager/index.html";
			
		}
		else{
		 alert(rs.msg);
		}
		
		return false;
	},"json"); 
}
</script>
<!-- 	<a href="register.html">
		<button type="button" class="register-tis">还有没有账号？</button>
	</a> -->

</div>



</body>
</html>