<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>每日一点 - MRYD.com</title>
	<meta name="viewport" content="width=100%; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<script type="text/javascript" src="/themes/js/jquery.min.js"></script>
	<script type="text/javascript" src="/themes/js/swiper-3.4.0.jquery.min.js"></script>
	<link href="favicon.ico" type="image/x-icon" rel="icon">
	<link rel="stylesheet" href="/themes/css/swiper-3.2.7.min.css"/>
	<link rel="stylesheet" href="/themes/css/home.css"/>
	<link rel="stylesheet" href="/themes/css/aui.css"/>
	 <script type="text/javascript" src="/js/wangEditor.min.js"></script>

</head>
<body>

	<header class="aui-bar aui-bar-nav aui-bar-light">
		<a href="javascript:" onclick="history.go(-1); " class="aui-pull-left aui-btn" >
			<span class="aui-iconfont aui-icon-left">  </span>
		</a>
		<div class="aui-title">新闻列表</div>
		<a class="aui-pull-right aui-btn ">
			<span class="aui-iconfont aui-icon-more">  </span>
		</a>
	</header>

	<div class="aui-main">
	<!-- 文章内容 -->
		<article class="article padding-side">
			<div>
				<h1 class="article-title">鹿晗公开恋情！陆地夫妇成笑话，迪丽热巴反击酷爆！</h1>
			</div>
			<div id="new" class="article-content">
				
			</div>
			
		</article>
	</div>
  <div id="editor">
        
        

    </div>
<button id="btn1">获取html</button>
	<div class="aui-card-list-content">
		<div class="aui-bg-like"><i class="aui-iconfont aui-icon-like"></i> 3899 人喜欢</div>
		<div class="aui-share-icon clearfix">
			<div class="aui-share-line b-line clearfix">
				<h2>分享到</h2>
			</div>
			<ul class="clearfix" style="padding-top:15px; padding-bottom:10px;">
				<li><i class="aui-iconfont aui-icon-wechat"></i></li>
				<li><i class="aui-iconfont aui-icon-wechat-circle"></i></li>
				<li><i class="aui-iconfont aui-icon-weibo" style="color:#ff6178"></i></li>
			</ul>
		</div>

		<div class="aui-card-list">
			<div class="aui-card-list-header" style="padding-bottom:0">
				<h3>帕托撩迪丽热巴!自认长相完爆鹿晗!要修成</h3>
			</div>
			<div class="aui-card-list-content-padded" style="padding-top:0">
				<div class="aui-row aui-row-padded">
					<div class="aui-col-xs-4">
						<img src="themes/img/ad/a2.jpg" />
					</div>
					<div class="aui-col-xs-4">
						<img src="themes/img/ad/a2.jpg" />
					</div>
					<div class="aui-col-xs-4">
						<img src="themes/img/ad/a2.jpg" />
					</div>
				</div>
			</div>
		</div>

		<ul class="aui-list aui-media-list">
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou1.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">我是土财主</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>72</div>
						</div>
						<div class="aui-list-item-text">
							小鹿同学你这么干，你让迪丽热巴咋整
						</div>
					</div>
				</div>
			</li>
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou6.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">鹿晗的圈子</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>723</div>
						</div>
						<div class="aui-list-item-text">
							是吵着玩那
						</div>
					</div>
				</div>
			</li>
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou5.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">小热巴</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>34</div>
						</div>
						<div class="aui-list-item-text">
							心疼俺家小迪丽热巴
						</div>
					</div>
				</div>
			</li>
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou4.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">我是滴里搭拉</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>13</div>
						</div>
						<div class="aui-list-item-text">
							顶一下
						</div>
					</div>
				</div>
			</li>
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou3.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">请别扯犊子</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>73</div>
						</div>
						<div class="aui-list-item-text">
							大家好，给你介绍一下 你妹
						</div>
					</div>
				</div>
			</li>
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou2.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">上新往事</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>33</div>
						</div>
						<div class="aui-list-item-text">
							贵圈太乱了 伤不起
						</div>
					</div>
				</div>
			</li>
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou1.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">我是土财主</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>72</div>
						</div>
						<div class="aui-list-item-text">
							小鹿同学你这么干，你让迪丽热巴咋整
						</div>
					</div>
				</div>
			</li>
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou6.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">鹿晗的圈子</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>723</div>
						</div>
						<div class="aui-list-item-text">
							是吵着玩那
						</div>
					</div>
				</div>
			</li>
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou5.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">小热巴</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>34</div>
						</div>
						<div class="aui-list-item-text">
							心疼俺家小迪丽热巴
						</div>
					</div>
				</div>
			</li>
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou4.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">我是滴里搭拉</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>13</div>
						</div>
						<div class="aui-list-item-text">
							顶一下
						</div>
					</div>
				</div>
			</li>
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou3.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">请别扯犊子</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>73</div>
						</div>
						<div class="aui-list-item-text">
							大家好，给你介绍一下 你妹
						</div>
					</div>
				</div>
			</li>
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou2.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">上新往事</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>33</div>
						</div>
						<div class="aui-list-item-text">
							贵圈太乱了 伤不起
						</div>
					</div>
				</div>
			</li>
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou1.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">我是土财主</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>72</div>
						</div>
						<div class="aui-list-item-text">
							小鹿同学你这么干，你让迪丽热巴咋整
						</div>
					</div>
				</div>
			</li>
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou6.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">鹿晗的圈子</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>723</div>
						</div>
						<div class="aui-list-item-text">
							是吵着玩那
						</div>
					</div>
				</div>
			</li>
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou5.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">小热巴</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>34</div>
						</div>
						<div class="aui-list-item-text">
							心疼俺家小迪丽热巴
						</div>
					</div>
				</div>
			</li>
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou4.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">我是滴里搭拉</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>13</div>
						</div>
						<div class="aui-list-item-text">
							顶一下
						</div>
					</div>
				</div>
			</li>
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou3.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">请别扯犊子</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>73</div>
						</div>
						<div class="aui-list-item-text">
							大家好，给你介绍一下 你妹
						</div>
					</div>
				</div>
			</li>
			<li class="aui-list-item aui-list-item-middle">
				<div class="aui-media-list-item-inner">
					<div class="aui-list-item-media">
						<img src="themes/img/ad/tou2.jpg" class="aui-img-round aui-list-img-sm">
					</div>
					<div class="aui-list-item-inner ">
						<div class="aui-list-item-text">
							<div class="aui-list-item-title">上新往事</div>
							<div class="aui-list-item-right"><i class="aui-iconfont aui-icon-laud"></i>33</div>
						</div>
						<div class="aui-list-item-text">
							贵圈太乱了 伤不起
						</div>
					</div>
				</div>
			</li>

		</ul>
	</div>
	<div class="aui-card-list-footer aui-text-center aui-list-item-arrow">
		查看更多跟帖
	</div>
	</div>
<script type="text/javascript">
        var E = window.wangEditor
        var editor = new E('#editor')
        // 或者 var editor = new E( document.getElementById('editor') )
   /*       editor.customConfig.lang = {
            '设置标题': 'title',
            '正文': 'p',
            '链接文字': 'link text',
            '链接': 'link',
            '上传图片': 'upload image',
            '上传': 'upload',
            '创建': 'init'
            // 还可自定添加更多
        }*/
        // 关闭粘贴样式的过滤
        editor.customConfig.pasteFilterStyle = false
        // 忽略粘贴内容中的图片
        editor.customConfig.pasteIgnoreImg = true
        //插入链接的校验
        editor.customConfig.linkCheck = function (text, link) {
            console.log(text) // 插入的文字
            console.log(link) // 插入的链接

            return true // 返回 true 表示校验成功
            // return '验证失败' // 返回字符串，即校验失败的提示信息
        }
        // 自定义处理粘贴的文本内容
        editor.customConfig.pasteTextHandle = function (content) {
            // content 即粘贴过来的内容（html 或 纯文本），可进行自定义处理然后返回
            return content + '<p>在粘贴内容后面追加一行</p>'
        }
        //插入网络图片时，可通过如下配置获取到图片的信息
        editor.customConfig.linkImgCallback = function (url) {
            console.log(url)
           
            alert(url)// url 即插入图片的地址
            return true 
            
        }
        editor.create()
        document.getElementById('btn1').addEventListener('click', function () {
        // 读取 html
         document.getElementById('new').innerHTML=editor.txt.html();
        //alert(editor.txt.html())
    }, false)

    document.getElementById('btn2').addEventListener('click', function () {
        // 读取 text
        alert(editor.txt.text())
    }, false)
      document.getElementById('btn3').addEventListener('click', function () {
        var json = editor.txt.getJSON()  // 获取 JSON 格式的内容
        var jsonStr = JSON.stringify(json)
        console.log(json)
        console.log(jsonStr)
    })
    </script>
	<!--<footer class="aui-bar aui-bar-tab" id="footer" style="border-top:1px solid #ddd; background:#efefef">-->
		<!--<div class="aui-bar-tab-item aui-active" tapmode>-->
			<!--<a href="index.html">-->
				<!--<i class="aui-iconfont aui-icon-home"></i>-->
				<!--<div class="aui-bar-tab-label">首页</div>-->
			<!--</a>-->
		<!--</div>-->
		<!--<div class="aui-bar-tab-item" tapmode>-->
			<!--<a href="#">-->
				<!--<i class="aui-iconfont aui-icon-like"></i>-->
				<!--<div class="aui-bar-tab-label">要闻</div>-->
			<!--</a>-->
		<!--</div>-->
		<!--<div class="aui-bar-tab-item" tapmode>-->
			<!--<a href="#">-->
				<!--<i class="aui-iconfont aui-icon-video"></i>-->
				<!--<div class="aui-bar-tab-label">视频</div>-->
			<!--</a>-->
		<!--</div>-->
		<!--<div class="aui-bar-tab-item" tapmode>-->
			<!--<a href="#">-->
				<!--<i class="aui-iconfont aui-icon-my"></i>-->
				<!--<div class="aui-bar-tab-label">我的</div>-->
			<!--</a>-->
		<!--</div>-->
	<!--</footer>-->
</body>
</html>
